body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.Acceuil a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  background-color: rgba(22, 160, 133, 1);
}
button a:hover {
  background-color: rgba(189, 195, 199, 1);
}
.cards {
  margin-top: 40px;
  margin-bottom: 43px;
  display: flex;
  justify-content: space-around;
}
.card-body {
  text-align: center;
  background-image: url("https://images.hdqwalls.com/download/penrose-traingle-5k-l3-1336x768.jpg");
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Rye);

#total {
  position: relative;
  left: 50%;
  display: block;
  margin: 100px -200px;
  width: 400px;
  height: 60px;
  border: 1px solid #8a1;
  font: normal 30px/60px "Rye";
  text-align: center;
  color: #451;
  background: #9b2;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid #9b2;
  border-right: 20px solid #791;
  border-bottom-color: #94b81e;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -70px;
  border-left: 20px solid #791;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}
.red {
  color: red;
}
.fa-heart {
  color: grey;
}
.fa-heart {
  font-size: 40px;
}
.fa-trash {
  font-size: 40px;
}
.icons {
  text-align: center;
  background-color:black;

}
